root = true

# All files.
[*]
charset = utf-8
end_of_line = LF
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown files.
[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[{composer,package}.json]
indent_size = 4
insert_final_newline = false

[phpspec.yml]
indent_size = 2
insert_final_newline = false
